@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
0 0 5px #eeff00,
    0 0 10px #eeff00,
    0 0 20px #eeff00,
    0 0 40px #eeff00,
    0 0 80px #eeff00,
    0 0 90px #eeff00,
    0 0 100px #eeff00,
    0 0 150px #eeff00; 
    */
    /* 0 0 0px #eeff00,
    0 0 5px #eeff00, 
    0 0 10px #eeff00,
    0 0 20px #eeff00,
    0 0 30px #eeff00; */

@layer utilities {
  @keyframes glow {
    0% {
      text-shadow: 0 0 0px #eeff00,
        0 0 5px #eeff00,
        0 0 20px #eeff00,
        0 0 80px #eeff00,
        0 0 150px #eeff00;
    }
    25% {
      text-shadow:
        0 0 10px #eeff00,
        0 0 40px #eeff00,
        0 0 90px #eeff00;
    }
    50% {
      text-shadow:
        0 0 20px #eeff00,
        0 0 80px #eeff00,
        0 0 100px #eeff00;
    }
    100% {
      text-shadow:
        0 0 5px #eeff00,
        0 0 20px #eeff00,
        0 0 80px #eeff00,
        0 0 150px #eeff00;
    }
  
  }
  
  .glow-text {
    animation: glow 6s ease-in-out infinite;
  }
      .hov{
        transition: 0.5s;
        color: yellow;
    }
    
    .aft{
        content: '';
        width: 0;
        height: 2px;
        background: yellow;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    
    .haft{
        width: 100%;
    }

    .line {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      width: 50%;
      background-color: yellow;
    }
    
    .line-top {
      top: 0;
      left: 0;
    }
    
    .line-bottom {
      bottom: 0;
      right: 0;
    }
    
      
    }


    

    